@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
}

h1{
    color: #43AB5F;
    font-weight: 560;
    font-size: 5vh;
    padding: 1.5vh;
}
    
hr{
    width: 90px;
    background-color: #43AB5F;
    height: 1.2px;
    margin-bottom: -1em;
}

img{
    border-radius: 6%;
    padding: 2.5%;
}