body {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}
h2 { 
    font-weight: 500;
    font-size: 2rem;
    color: #43AB5F;
    text-align: center;
    position: relative;
    margin-bottom: 4.5rem;
}
p{
    color: #888;
}
h2::after{
    content: '';
    width: 4rem;
    height: 3px;
    background-color: #43AB5F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


.about {
    text-align: justify;
    text-justify: inter-word;
    font-size: 23px;
}

.container{
    max-width: 85%;
    margin: 4rem auto;
}
.card-shadow {
    border-width: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: 0.25s cubic-bezier(.27,.49,.62,1.47);
}
.card-title {
    font-size: 18px;
    font-weight: 500;
    border: 0;
}
.card-content {
    font-size: 16px;
}
.event-header {
    color: #555;
    margin-bottom: 8px;
}
.event-time {
    color: #555;
    margin-bottom: 8px;
}
.card-shadow:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


.carousel-indicators [data-bs-target]{
    height: 6px;
    width: 6px;
    margin: 0px 5px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
}
.carousel-indicators .active{
    background-color: white;
}



i {
    color: #888;
    margin-right: 10px;
}
i.fa-clock {
    margin-left: 10px;
}
.blog-continue {
    text-decoration: none;
    color: #888;
}
.blog-continue:hover {
    color: #555;
}


.splide {
    margin: 0 auto;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1;
}

.thumbnail img {
    width: 100%;
    height: auto;
}