body {
    font-family: 'Poppins', sans-serif;
}

h2 { 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #43AB5F;
    text-align: center;
}
.card-shadow {
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.carousel-indicators [data-bs-target]{
    height: 12px;
    width: 12px;
    margin: 0px 5px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
}

.carousel-indicators .active{
    background-color: white;
}